$primary-color: white;
$secondary-color: blueviolet;
$background-color: #f4f4f4;
$text-color: black;

$font-primary: Arial, sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 20px;

$border-radius: 10px;