*{
    box-sizing:border - box;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
}
.menu {
    display: flex;
    gap:20px;
}
.auth{
    display:flex;
    gap:15px;
}
.menu a, .auth a{
    color: green;
    text-decoration: none;
}
.menu a:hover, .auth a:hover{
    color: blue;
    text-decoration: underline;
}
.container{
    display: flex;
    flex-wrap:wrap;
}
.card{
    flex: 0 0 calc(25% - 20px);
    display: flex;
    flex-direction: column;
}
.card img{
    width: 100%;
    height:auto;
}
.card:hover{
    transform: translateY(-5px) + box-shadow;
}
