* {
    box-sizing:border-box;
}
.header{
    position: fixed;
    top:0;
    left : 0;
    width: 100%;
    height: 60px;
    background-color:blueviolet;
    color: white;
    justify-content:space-between;
    align-items:center;
    display: flex;
    padding: 0 20px;
}
.layout{
    padding-top:60px;
    display:flex;
}
.sidebar{
    width: 250px;
    position: sticky;
    top:80px;
    height: fit-content;
}
.content{
    flex:1;
}
.card{
    position: relative;
}
.badge{
    position:absolute;
    border-radius:50%;
    background-color: red;
    color: white;
    display: flex;
}
.scroll-top{
    position: fixed;
    border-radius: 50%;
}