*{
    box-sizing: border-box;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.skill-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skill-bar{
    height: 12px;
    background: #e2e8f0;
    overflow: hidden;
    border-radius: 10px;
}

.skill-progress{
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgb(6, 245, 189), rgb(2, 175, 69) );
    transition: width 1s ease-out;
}

@media (max-width:768px){
    .skills-grid{
        grid-template-columns: 1fr;
    }
}