 header{
            position: sticky;
            top: 0;
            z-index: 1000;
            background: var(--color-light);
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            
        }
        .logo{
            font-size: 35px;
            font-weight: bold;
            color: rgb(2, 96, 238);
        }
        .hero {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(rgb(2, 96, 238))
    }
        nav{
            display: flex;
            gap: 20px;
        }
        nav a{
            font-size:35px;
            color: rgb(2, 96, 238);
        }
        nav a:hover{
            color: lightblue;
        }
        nav a::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0%;
            height: 2px;
            background: rgb(247, 247, 248);
            transition: 0.3s;
            
        }

        nav a:hover::after{
            width: 100%;
            color: lightblue;
        }
        .navbar{
            max-width: 1200px;
            margin: auto;
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

#menu-toggle{
    display: none;
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px){
    .logo{
        font-size:10px;
    }
    .hamburger{
        display: block;
    }

    nav{
        display: none;

        position: absolute;
        top: 70px;
        right: 20px;

        flex-direction: column;
        background: rgb(236, 224, 224);
        padding: 20px;

        border-radius: 10px;
        box-shadow: 0 2px 10px rgb(0, 0, 0,0.8);
    }

    /* Khi checkbox checked -> hiện menu */
    #menu-toggle:checked ~ nav{
        display: flex;
    }
}
.cta-button{
    display: inline-block;

    background: white;
    color: #333;

    padding: 14px 30px;
    border-radius: 25px;

    text-decoration: none;
    font-weight: bold;

    transition: all 0.3s ease;
}
.big{
    font-size: 100px;
}
.text-yellow{
    color: yellow;
    font-size:100px;
}