
body {
    font-family: Arial;
    margin: 0;
    background: #f5f6fa;
}

/* HEADER */
header {
    padding: 15px;
    background: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

/* GRID */
#productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

/* MODAL */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal.show {
    display: flex;
}

#modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* DARK MODE */
.dark-mode {
    background: #111;
    color: white;
}

.dark-mode .card {
    background: #222;
    color: white;
}
