body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container{
    padding:20px;
    border-radius:10px;
}
.header{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: rgb(35, 145, 35);
    color:white;
    border-radius:30px;
    margin-top: 20px;
}
button{
    padding:10px 15px;
    cursor:pointer;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
.stats{
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(to right, pink, rgb(83, 212, 165));
}
table th{
    background-color: antiquewhite;

}
table td{
    border:1px solid #ccc;
    text-align:center;
}
.btns{
    border-radius: 10px;
    background-color: rgb(51, 145, 166);
    color: white;
    border: none;
    cursor: pointer;
}
.btnx{
    border-radius: 10px;
    background-color: rgb(235, 37, 37);
    color: white;
    border: none;
    cursor: pointer;
}
.modal{
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    background: lightslategray;
    display:none;
    justify-content:center;
    align-items:center;
}
.modal-content{
    background:white;
    padding:20px;
    width:300px;
    border-radius:20px;
}
form{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content: center;
    align-items:center;
}
.form-button{
    display:flex;
    width: 100%;
}
.form-button button{
    flex:1;
    gap:10px;
    margin-top:10px;
    color:white;
    border-radius:15px;
}
.save-btn{
    background: green;
}
.cancel-btn{
    background:red;
}
#studentForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input,
form select{
    width: 100%;
    box-sizing: border-box;
}